@using Domain.Models.News

@model Post

<img src="@Model.Photos.First().Patch" style="height: 300px;">
<div class="caption">
    <ul class="badge-ul">
        <li class="badge-li">
            <a class="badge-a" href="#">
                <span class="badge-span">@Model.Category.First().Name</span>
            </a>
        </li>
    </ul>
    <div class="h4 h4_custom">
        <a class="a4_custom" href="#">
            @Model.Name
        </a>
    </div>
    <div class="under_h4">
        <div>
            <a class="post-meta-time" href="#">
                <time datetime="2020-06-06">@Model.Date</time>
            </a>
        </div>
    </div>
</div>