@using Domain.Models.News

@model Dictionary<string, List<Post>>

<div class="popular-news">
    <div class="head-devider">
        <h2 class="popular_news_head pb-0">
            Popular News
        </h2>
    </div>
    <ul class="nav-tabs nav custom_nav">
        @foreach (var item in Model)
        {
            @if (item.Key.Equals("All News"))
            {
                <li id="btn-@item.Key" class="nav-item active">
                    <button class="nav-link active">
                        @item.Key
                    </button>
                </li>
            }
            else
            {
                <li id="btn-@item.Key" class="nav-item">
                    <a class="nav-link">
                        @item.Key
                    </a>
                </li>
            }
        }
    </ul>
    <div class="tab-form active-form" style="width: 100%; position: relative; left: 50px;">
        @foreach (var item in Model)
        {
            @if (item.Key.Equals("All News"))
            {
                <div class="content" id="@item.Key" style="visibility: visible">
                    @await Html.PartialAsync(@"PostPartials/PopularPostPartial", item)
                </div>
            }
            else
            {
                <div class="content" id="@item.Key" style="visibility: hidden">
                    @await Html.PartialAsync(@"PostPartials/PopularPostPartial", item)
                </div>
            }
        }
    </div>
</div>